* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #20202d;
}

.section {
  padding-top: 4rem;
  padding-bottom: 1.75rem;
}

.container {
  max-width: 945px;
  margin: auto;
}

.hero {
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
  padding-top: 3.12rem;
  padding-bottom: 3.875rem;
}

.hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header .social__item {
  margin-left: 1.25rem;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 105px;
}

.text {
  font-style: normal;
  width: 50%;
}

.subheader {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 140%;
  color: #FFBB01;
}

.title {
  margin-top: .87rem;
  font-weight: bold;
  font-size: 3.125em;
  line-height: 118%;
  color: #FFFFFF;
}

.descr {
  font-weight: normal;
  font-size: 1em;
  line-height: 175%;
  color: #FFFFFF;
}

.button {
  margin-top: 2.37rem;
  padding: 24px 41px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDDE76), to(#FFBB01));
  background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
  -webkit-box-shadow: 0px 4px 0px #B68500;
          box-shadow: 0px 4px 0px #B68500;
  border-radius: 5px 5px 10px 10px;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 116%;
  text-align: center;
  text-transform: uppercase;
  color: #2E2E30;
  cursor: pointer;
}

.avatar {
  width: 389px;
  height: 389px;
  border-radius: 50%;
  background-color: #fff;
}

.features {
  background-color: #000;
}

.features__title {
  font-weight: bold;
  font-size: 2.25em;
  line-height: 2.62em;
  color: #FFFFFF;
}

.features__block {
  margin-top: 5.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding-bottom: 4rem;
}

.item__subtitle {
  margin-top: 1.36rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.75em;
  color: #fff;
}

.item__descr {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  color: #fff;
}

.footer {
  background: #000;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.25em;
  line-height: 2.625em;
  color: #FFFFFF;
}

.footer__form {
  max-width: 380px;
  background-color: #fff;
  background: #FFFFFF;
  -webkit-box-shadow: -5px 5px 0px #FFC41D;
          box-shadow: -5px 5px 0px #FFC41D;
  border-radius: 5px;
  padding: 2.5rem 2.25rem 2.8rem 2.25rem;
}

.form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 150%;
  text-align: center;
}

.form__input {
  width: 100%;
  background: #F8F8F8;
  -webkit-box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
          box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 1.125em 0;
  padding-left: 2.93rem;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  color: #949494;
}

.form__input_name {
  background-image: url(/img/user-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
  margin-top: 1.185rem;
}

.form__input_tel {
  background-image: url(/img/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
  margin-top: 1.125rem;
}

.form__button {
  width: 100%;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 116%;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.contacts__text {
  max-width: 380px;
  padding-top: 2.5rem;
}

.contacts__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__link {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 118%;
  color: #FFFFFF;
  margin-right: 2rem;
}

.contacts__phone {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contacts__email {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contacts__social {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 3.3125rem;
}
